.w-12 {
    width: 12.5%
}

.w-20 {
    width: 20%
}

.w-40 {
    width: 40%
}

.w-60 {
    width: 60%
}

.w-65 {
    width: 65%
}

.position-bottom {
    position: absolute;
    bottom: 0;
}

.lightup-hover:hover {
    color: gray !important;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}
